.container  {
  display: flex;
  gap: 10px ;
}
.flex-3 {
  flex:3 ;
}
.flex-4 {
  flex:5 ;
  display: flex;
 
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu > div {
  display: flex;
  justify-content: center;
}


.other {
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
}


.size >div {
  margin-left: 100px ;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.test {
  display: flex;
}
.test > div {
  flex:50%;
  justify-content: end;
}

.container > div {
  border: 1px solid black ;
}

.border {
  border: 1px solid black;
}
.border > div {
  border: 1px solid black ;
}

h1 {
  font-size: 24px
}

.trends {
  display: flex ;
  height: 100%;
  flex-direction: column;
}
.trends > div {
  display: flex;
  justify-content: center;
}
.trends > h1 {
  display: flex;
  justify-content: center;
}

.right {
  display: flex ;
  height: 100%;
  flex-direction: column;
}
.right > div {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex ;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.other > .profile {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.distance {
  gap: 10px;
}
.distance > div {
  gap: 10px;
}

.size {
  font-size: 28px;
}
.size > div {
  font-size: 20px;
}

.fa-twitter {
  color: rgb(8, 150, 231);
}

.black {
  color: black;
}

.bText {
  display: flex;
  flex-direction: column;
}
.bIcon {
  display: flex;
  gap: 5px;
}

#nickname {
  color: black;
}
#nicknameId {
  color: lightgray;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}